* {
    box-sizing: border-box;
  }

  html,
  body {
    width: 100%;
    height: 100%;
    background-image: url(cuteBack.jpg);
    /* font-family: 'Roboto', sans-serif; */
    font-family: Helvetica;
    
  }
.top-container
{
    width:740px;
	height:750px;
	margin:auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
	position:relative;
	background:rgb(247, 247, 247);
}
.top-header{
    text-align: center;
}
.dropdown-select
{

}
select {
    width:150px;
    height:40px;
  }
.button-handler
{
    position:absolute;
	bottom:0px;
	left:0;
	width:640px;
	height:40px;
	line-height:10px;
	text-align:center;
    
}
.loading-header
{
    text-align: center;
}
.cat-header
{
    height:100px;
   border-radius: 50%;
   border: 5px solid #FEDE00;
}
.loading-image
{
    height:100px;
}
.listing-loading-container
{
    height: 80%;
}
ul {
    list-style: none;
  }
  ul li::before {
    content: "";
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/fb-heart.gif);
    background-size: contain;
    display: inline-block;
    width: 1em;
    height: 1em;
    position: relative;
    top: 0.1rem;
    margin-right: 0.2rem;
  }

  button {
    border: 1px solid #0066cc;
    background-color: #0099cc;
    color: #ffffff;
    padding: 5px 10px;
    font-weight: 800;
  }
  label
{
  color: #12161d;
    
    font-weight: 800;
}
  
.show-list
{
    padding: 20px;
}
  button:hover {
    border: 1px solid #009ace;
    background-color: #00aacc;
    color: #ffffff;
    padding: 5px 10px;
    font-weight: 800;
  }
  
  button:disabled,
  button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    font-weight: 800;
  }

.button-showFacts
{
  text-align: center;
    margin-top: 20px;
}
.showing-fact
{
    text-align: center;
}
